#Example inventory file. Please note verify_ssl needs to be false for selfsigned certificates

[satellite]
server.example.com

[satellite:vars]
foreman_organization=source_organisation
foreman_username=source_satellite_username
foreman_password=source_satellite_password
foreman_verify_ssl=true
