#jinja2:variable_start_string:'[%' , variable_end_string:'%]'

- name: Generate Subnets
  foreman_subnet:
    server_url: "{{ target_foreman_server_url }}"
    username: "{{ target_foreman_username }}"
    password: "{{ target_foreman_password }}"
    name: "{{ item.Name }}"
    boot_mode: "{{ item.'Boot Mode' }}"
    cidr: "{{ item.'Network Prefix' }}"
    dhcp_proxy: "{{ item.'Smart Proxies'.DHCP }}"
    dns_primary: "{{ item.'Primary DNS' }}"
    dns_secondary: "{{ item.'Secondary DNS' }}"
    dns_proxy: "{{ item.'Smart Proxies'.DNS }}"
    tftp_proxy: "{{ item.'Smart Proxies'.TFTP }}"
    from_ip: "{{ item.'Start of IP Range' }}"
    to_ip: "{{ item.'End of IP Range' }}"
    gateway: "{{ item.'Gateway Addr' }}"
    ipam: "{{ item.IPAM }}"
    mtu: "{{ item.MTU }}"
    vlanid: "{{ item.vlanid }}"
    protocol: "{{ item.Protocol }}"
    domains:
      - "{{ item.Domains | json_query('[*].Name') }}"
    organizations:
      - [% foreman_organization %]
    locations: "{{ item.Locations | json_query('[*].Name') }}"
    state: present
  loop: [% subnet_info %]
