#jinja2:variable_start_string:'[%' , variable_end_string:'%]'

- name: Generate Locations
  foreman_location:
    server_url: "{{ target_foreman_server_url }}"
    username: "{{ target_foreman_username }}"
    password: "{{ target_foreman_password }}"
    name: "{{ item.Name }}"
    description: "{{ item.Description }}"
    organizations:
      - [% foreman_organization %]
    state: present
  loop: [% locations %]
