#jinja2:variable_start_string:'[%' , variable_end_string:'%]'

- name: Generate Content View [% cv.name %]
  katello_content_view:
    server_url: "{{ target_foreman_server_url }}"
    username: "{{ target_foreman_username }}"
    password: "{{ target_foreman_password }}"
    verify_ssl: "{{ foreman_verify_ssl }}"
    name: "{{ item.Name }}"
    repositories: [% cv_lookup %]
    organization: [% target_foreman_organization %]
    state: present


